<h1>{{title}}</h1>
<!--Menu de Navegacion
1. Definimos la lista
2. Usamos la directiva [routerLink]="['pathdelcomponente - definido en app.routing.ts']"
3. Para marcar o activar los elementos del menu, usamos la directiva [routerLinkActive]="['nombredeclase']"
-->

<ul [ngClass]="['listnav']">
    <li><a [routerLink]="['/home-page']" [routerLinkActive]="['actived']">HOME PAGE</a></li>
    <li><a [routerLink]="['/nosotros-page']" [routerLinkActive]="['actived']">NOSOTROS PAGE</a></li>
    <li><a [routerLink]="['/mercado-page']" [routerLinkActive]="['actived']">MERCADO</a></li>   
    <li><a [routerLink]="['/pipes']" [routerLinkActive]="['actived']">PIPES</a></li>   
    <li><a [routerLink]="['/formulario']" [routerLinkActive]="['actived']">FORMULARIO</a></li>  
    <li><a [routerLink]="['/ngtemplate']" [routerLinkActive]="['actived']">NG TEMPLATE</a></li>      
</ul>


<!--Para que funcione el router con los componentes, debemos llamar una etiqueta especial llamada: <router-outlet></router-outlet>-->
<router-outlet></router-outlet>